/* universal styles */
body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
}

a {
  color: seashell;
  text-decoration: underline;
}

/* header styles  */
header {
  display: inline-flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;
  top: 0;
  opacity: 0.9;
}

nav span {
  display: inline-flex;
  align-items: center;
  padding: 0px 20px;
}

nav a:hover {
  background-color: #5D5A5A;
  color: white;
}

.logo {
  display: inline-flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 10px;
}

.logo img {
  display: inline-flex;
  align-items: center;
  height: 50px;
}
:target:before {
  content: "";
  display: block;
  height: 69px; /*Fixes header height issue when jumping to #tea */
}
                /* Main content styling or MISSION */

content {
  display: flex;
  width: 1200px; /*assigned arbitrarily to match background picture*/
  padding-top: 62px; /*aligns top of .mission with bottom of header */
}

.mission {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 800px;
  background-image: url("./images/img-mission-background.jpg");
  margin-left: 30px;
  background-repeat: no-repeat;
  background-size:contain;
  margin-bottom: 30px;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: seashell;
  line-height: 0px; /*shrinks effective height of banner? */
}

/*  Tea section*/

.tea {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1000px;
  margin: 0 auto;
  /* border: 1px solid blue; */
}

.box-set {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 300px;
  height: auto;
  justify-content: center;
}

.box {
  display: flex;
  width: 300px;
  height: 200px;
}

.box-text {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.box.image-content {
  display: flex;
  background-repeat: no-repeat;
  background-size:contain;
}

.box.fall-image {
  background-image: url("./images/img-berryblitz.jpg");
}

.box.spiced-image {
  background-image: url("./images/img-spiced-rum.jpg")
}

.seasonal-image {
  background-image: url("./images/img-donut.jpg")
}

.myrtle-image {
  background-image: url("./images/img-myrtle-ave.jpg")
}

.bedford-image {
  background-image: url("./images/img-bedford-bizarre.jpg")
}

.bottom-row {
  display: flex;
  justify-content: center;
  width: 1000px;
  padding-top: 20px;
}

.br {
  margin: 0px 25px;
}

.box-banner {
  margin: 0px;
  padding: 0px;
  display: inline-flex;
  padding-top: 10px;
}

               /* Locations section */

.locations {
  width: 100%;
  height: 500px;
  background-image: url("./images/img-locations-background.jpg");
  display: flex;
  background-repeat: no-repeat;
  background-position:center;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.location-banner {
  display: inline-flex;
  background-color: none;
  text-height: 0;
  height: auto;
  margin: 0 auto;
  padding-top: 25px;
}

.square {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  background-color: black;
  margin: 15px 20px;
}

.location-position {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  padding-bottom: 64px; /*Horizontally aligns the three squares in Locations*/
}

.h2location {
  display: inline-flex;
  text-height: 0;
  padding: 0;
  margin: 0;
}

              /* Footer Section */

.footer {
  font-size: 20px;
  text-align: left;
  padding-left: 20px;
}

.footer-height {
  height: 200px;
}
